html {
  background-color: #f0eee8;
  font-family: Georgia;
  color: #785439;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card h2 {
  color: #512200;
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card {
  text-decoration: none;
  color: #785439;
  display: block;
  background-color: #dcd4cd;
  border-width: 3px;
  border-style: solid;
  border-color: #9a816d;
  border-radius: 8px;
}

p {
  font-size: 1rem;
  padding-left: 1rem;
}

.list {
  font-size: .875rem;
  border-style: solid;
  border-width: 2px;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-color: #9a816d;
  border-left: none;
  border-right: none;
}

dt,
dd {
  display: inline-block;
  width: 45%;
  margin: 0;
}

.link-card:hover .btn {
  background-color: #512200;
  border-color: #512200;
}

.btn-wrap {
  text-align: center;
  margin: 1rem;
}

.btn {
  background-color: #785439;
  border-style: solid;
  border-radius: 8px;
  border-color: #785439;
  color: #f0eee8;
  padding: .4em .75em .5em;
  font-size: 1.125rem;
  font-family: Dosis, sans-serif;
  display: inline-block;
}
